.table__poster {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  display: flex;
  top:0;
  left:0;
  bottom:0;
  right:0;
  animation: fadeIn 1s linear forwards;
  display: flex;
  justify-content: center;
  width: 100%;
}

.table__img {
  height: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to {  opacity: 1; }
}

.table__img--close {
  display: flex;
  justify-content: center;
  line-height: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  color: white;
  font-size: .8rem;
  height: 1rem;
  width: 1rem;
  border: 1px solid white;
}

.table__no-image {
  color: white;
  display: flex;
  align-self: center;
}

.table__mask {
  background-color: rgba(0, 0, 0, 1);
}

.table__container {
  /* border: 2px solid red; */
  position: relative;
  width: 100%;
  margin-right: 1rem;
}